.box
	margin-top  120px
	
.logo
	color #4169E1
	font-size  40px
	margin 0px
	
.encourage-quote
	font-size 25px

.login-input
	height 45px

.dashboard
	background #FFCC00

.case
	background #FF3399

#foo
	margin-top 10px