<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>InNet</title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/leaflet/dist/leaflet.css">
		<link rel="stylesheet" href="/leaflet-draw/dist/leaflet.draw.css">
		<link rel="stylesheet" href="/innet.min.css">
	</head>
	<body>
		<div ui-view></div>

		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/jquery-ui/jquery-ui.min.js"></script>
		
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

		<script src="/underscore/underscore-min.js"></script>

		<script src="/angular/angular.min.js"></script>
		<script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/angular-filter/dist/angular-filter.min.js"></script>
		<script src="/angular-timer/dist/angular-timer.js"></script>
		<script src="angular-jwt/dist/angular-jwt.min.js"></script>
		<script src="/a0-angular-storage/dist/angular-storage.min.js"></script>
		<script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/leaflet/dist/leaflet.js"></script>
		<script src="/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
		<script src="leaflet-draw/dist/leaflet.draw.js"></script>

		<script src="innet.min.js"></script>
	</body>
</html>