<div class="wrapper wrapper-content">
	<div class="ibox">
		<div class="ibox-title">
			<div class="row">
				<div class="col-md-8">
					<h2>搶救部署 災害類型 : 火災</h2>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-5">
							<h3 class="pull-right">分面人員</h3>
						</div>
						<div class="col-md-7">
							<select class="form-control m-b" ng-model='position.defaultPos', ng-options='pos for pos in position.positions'></select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ibox-content">
			<div class="table-responsive">
	    		<table class="table table table-bordered">
		    		<thead>
		    			<tr ng-if="!apartment">
		    				<th></th>
		    				<th class="text-center">第一區</th>
		    				<th class="text-center">第二區</th>
		    				<th class="text-center">第三區</th>
		    				<th class="text-center">第四區</th>
		    				<th class="text-center">第五區</th>
		    			</tr>
		    			<tr ng-if="apartment" >
		    				<th></th>
		    				<th ng-repeat=" floor in position.floors" class="text-center"> {{::floor}} 樓</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="deploy in deploys" ng-if="!apartment" class="text-center">
		    				<td>第 {{::$index + 1 }} 面</td>
		    				<td ng-repeat="area in deploy track by $index">
		    					<p ng-repeat="st in area.sts">
		    						{{::st.id}} ({{::st.number}})人
		    					</p>
		    				</td>
		    			</tr>
		    			<tr ng-repeat="deploy in deploys" ng-if="apartment" class="text-center">
		    				<td>第 {{::$index + 1  }} 面</td>
		    				<td ng-repeat="floor in deploy track by $index">
		    					<p ng-repeat=" st in floor.sts"> {{::st.id}} ({{::st.number}})人</p>
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>
	    	</div>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="strikeTeam in strikeTeams |  filterBy: ['position']:position.defaultPos">
			<div class="panel panel-default" >
				<div class="panel-heading clearfix">
					<h2 class="panel-title pull-left">
						組別 {{::strikeTeam.branch}} {{::strikeTeam.id}}
					</h2>
					<span class="label label-warning pull-right" ng-if="strikeTeam.timerRunning"> 計時管制中  </span>
					<span class="label label-success pull-right" ng-if="!strikeTeam.timerRunning"> 尚未計時管控 </span>
				</div>
				<div class="list-group" >
					<div class="list-group-item">
						<p class="list-group-item-text" ng-if="!strikeTeam.timer">剩餘時間 : {{strikeTeam.limitTime.minutes()}} 分鐘  {{strikeTeam.limitTime.seconds()}} 秒數</p>
						<p class="list-group-item-text" ng-if="strikeTeam.timer">剩餘時間 : {{strikeTeam.timer.minutes()}} 分 {{strikeTeam.timer.seconds()}} 秒</p>
						<div class="progress progress-striped active "style="height: 30px;">
							<div class="progress-bar {{strikeTeam.progressState}}" role="progress-bar" style="width: {{strikeTeam.progress}}%;"></div>
						</div>
					</div>
					<div class="list-group-item">
						<div class="row">
							<div class="col-sm-6">
								<p class="list-group-item-text" ng-if="!apartment">負責區面 : {{::strikeTeam.position}}</p>
								<p class="list-group-item-text" ng-if="apartment">負責樓層 : {{::strikeTeam.floor}}</p>
							</div>
							<div class="col-sm-6">
								<p class="list-group-item-text">任務 : {{::strikeTeam.group}}</p>
							</div>
						</div>
					</div>
					<div class="list-group-item" ng-repeat="member in strikeTeam.members">
						<div class="row">
							<div class="col-sm-6">
								<h4 class="list-group-item-text">名稱: {{::member.name}} </h4>
								<p class="list-group-item-text"> 代號: {{::member.radioCode}}</p>
							</div>
							<div class="col-sm-6">
								<h4 class="list-group-item-text">任務: {{::member.mission}}</h4>
								<p class="list-group-item-text">分隊: {{::member.branch}}</p>
							</div>
						</div>
					</div>	
				</div>
				<div class="panel-footer">
				</div>
			</div>
		</div>
	</div>
</div>