<div class="inmodal">
    <div class="modal-header">
    	<div class="btn btn-group pull-left">
    		<button class="btn btn-danger" ng-click="cancel()">取消</button>
    	</div>
    	<div class="btn btn-group pull-right">
    		<button class="btn btn-primary" ng-click="save()" ng-if="isNew">存擋</button>
    	</div>
        <div class="btn btn-group pull-right">
            <button class="btn btn-primary" ng-click="update()" ng-if="!isNew">更新</button>
        </div>
         <h4 class="modal-title">{{member.branch}} {{member.name}}</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-{{alert.type}}" role="alert" ng-repeat="alert in alerts">
            <div class="row">
                <div class="col-md-9">
                    {{alert.msg}}
                </div>
            </div>              
        </div>
    	<form class="form-horizontal">
            <div class="form-group">
            	<label class="col-md-3 control-label">姓名</label>
                <div class="col-md-9">
                	<input placeholder="姓名 如:王陽明 " class="form-control" ng-model="member.name"> 
                	<span class="help-block m-b-none"></span>
                </div>
            </div>
            <div class="form-group">
            	<label class="col-md-3 control-label">職等</label>
                <div class="col-md-9">
                   <select class="form-control m-b" ng-model='member.title', ng-options='title for title in member.titles'></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">氣量</label>
                <div class="col-md-9">
                    <input type="text" placeholder="請輸入秒數:1800(秒)" class="form-control" ng-model="member.workingTime">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">無線電代號</label>
                <div class="col-md-9">
                    <input type="text" placeholder="如: 101" class="form-control" ng-model="member.radioCode">
                </div>
            </div>
            <div class="form-group" ng-if="!isNew">
                <label class="col-md-3 control-label">分隊</label>
                <div class="col-md-9">
                    <select class="form-control m-b" ng-model='member.branch', ng-options='branch for branch in member.branches'></select>
                </div>
            </div>
            <div class="form-group" ng-if="!isNew">
            	<label class="col-md-3 control-label">大隊</label>
				<div class="col-md-9">
					<select class="form-control m-b" ng-model='member.corps', ng-options='corps for corps in member.corpss'></select>
				</div>
            </div>   
        </form>
    </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-block" ng-if="!isNew" ng-click="accountActivate()">開通帳號</button>
    </div>
</div>